
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("Partial/_BreadCrums")
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @await Html.PartialAsync("Partial/_LeftSideBar")
            </div>

            <div class="col-sm-9 padding-right">
                @await Html.PartialAsync("Partial/_ProductDetails")

                @await Html.PartialAsync("Partial/_ShopDetailsTab")

                @await Html.PartialAsync("Partial/_Recommended")

            </div>
        </div>
    </div>
</section>