
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="cart_items">
    <div class="container">

        @await Html.PartialAsync("Partial/_BreadCrums")
        @await Html.PartialAsync("Partial/_Steps")
        @await Html.PartialAsync("Partial/_CheckOutOptions")

        @await Html.PartialAsync("Partial/_Register")

        @await Html.PartialAsync("Partial/_ShopperInformation")
        @await Html.PartialAsync("Partial/_ReviewPayment")

        @await Html.PartialAsync("Partial/_CartInfo")
        @await Html.PartialAsync("Partial/_PaymentOptions")
    </div>
</section>