
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_LayoutWithSideBar.cshtml";
}
@section top{
    <section id="advertisement">
        <div class="container">
            <img src="~/template/images/shop/advertisement.jpg" alt="" />
        </div>
    </section>
}
@await Html.PartialAsync("Partial/_Features")